body{
  width: 100%;
  background-color: beige;
}
.app {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.users{
  margin-top: 10px;
  padding:10px;
  text-align: left;
  background-color: rgb(178, 237, 217);
}

.texts{
  margin-top: 10px;
  display: flex;
  border: rgb(15,12,13) solid 1px;
}

.existingUser{
  flex: 1;
  margin-right: 10px;
}

.existingText{
  text-align: left;
  flex: 1;
  padding-left: 10px;
  margin-bottom: 10px;
}

.textUser{
  text-align:left;
}

footer{
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
